.avatar-img {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th,td {
  padding-right: 0.5rem;
}
